@tailwind base;
@tailwind components;
@tailwind utilities;

.dataIcon{
    height: 80px;
    width: 80px;
    overflow: hidden;
    margin-right: 2rem;
}

.dataIcon .dataImg{
    width: 100%;
    min-height: 100%;
}

.dataIcon{
    height: 80px;
    width: 80px;
    overflow: hidden;
    margin-right: 2rem;
  }
  
  .dataIcon .dataImg{
    width: 100%;
    min-height: 100%;
  }
  
  .modal{
    border-radius: 5rem;
    height: 70%;
    width: 70%;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: antiquewhite;

  }
  
  .modal .btn {
    float: right;
    font-weight: bold;
    background: var(--blue);
    color: var(--white);
    padding: 0.75rem 1.75rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border-color: black;
  }

  
  .modal .h1 {
    font-weight: bolder;
    text-align: center; 
    font-size: 3rem;
  }

  .modal .div .h2 {
    margin-left: 0.5rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .modal .div .input {
    margin-bottom: 2.5rem;
    border-radius: 10rem;
    padding-left: 1rem;
  }
  
  .backdrop {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }