@tailwind base;
@tailwind components;
@tailwind utilities;

.background{
  background: rgb(191,187,232);
  background: linear-gradient(356deg, rgba(191,187,232,1) 0%, rgba(16,13,147,1) 100%);
}

.cv-card {
  background: rgb(2,0,36);
  background: linear-gradient(356deg, rgba(2,0,36,1) 0%, rgba(218, 216, 224, 0.779) 4%, rgb(195, 215, 219) 100%);
}

.cv-card .bottom {
  position: absolute;
  width: 56%;
  bottom: 2.5rem;
}


.dataIcon{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 80px;
    overflow: hidden;
    margin-right: 2rem;
  }
  
  .dataIcon .dataImg, .backdrop {
    width: 100%;
  }

.dataIcon .dataImg{
    min-height: 100%;
  }
  
.modal{
    border-radius: 5rem;
    height: 85%;
    width: 60%;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: antiquewhite;
    display: block;
  }
  
.modal .h1 {
    margin-top: 1rem;
    font-weight: bolder;
    text-align: center; 
    font-size: 3rem;
  }

.form {
    z-index: 200;
    margin-top: 3rem;
    margin-left: 4rem ;
    margin-right: 4rem ;
    display: grid ; 
    height : 75%;
  }

.form .h2 {
    margin-left: 0.5rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

.form .input {
    margin-bottom: 2.5rem;
    border-radius: 10rem;
    padding-left: 1rem;
    width: 30%;
  }
  
.backdrop {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

.button {
    background-color: rgba(59, 130, 246, 1);
    color : white;
    font-weight: 700;
    padding: 10px;
    border-bottom-width: 4px;
    border-color: rgba(29, 78, 216, 1);
    border-radius: 5rem;
    width: 16.666667%;
  }

.modal .button, div.button {
  float : right;
}

.modal .button {
  width: 15%;
  background-color: chocolate;
  border-color: chocolate;
  margin-left: 1rem;
}

.div .button {
  margin: 2rem;
}

.modal.experienceModal {
  height: 50%;
  overflow-y: auto;
}

.modal.experienceModal .button {
  margin-left: 0rem;
  margin-right: 3rem;
}

.modal .ul {
  max-width: fit-content;
  margin-left: 2rem;
  margin-right: 2rem;
}

.modal .li .h2 {
  margin-top: 0rem !important;
}

